// bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// sass-mq
$mq-breakpoints: $grid-breakpoints;
$mq-show-breakpoints: (xs, sm, md, lg, xl);
@import '../../node_modules/sass-mq/mq';

// components
@import 'components/fonts';
@import 'components/variable-overrides';
