{{> header}}

<h1>Website Boilerplate</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat qui nesciunt officiis, voluptates deleniti ipsum laborum explicabo atque consectetur maxime! Incidunt eos voluptatibus esse adipisci omnis reiciendis vel explicabo aut iste nostrum eveniet et magnam labore quisquam eligendi, eius quae, sequi facilis nemo consequatur quaerat debitis aliquid. Voluptatibus excepturi animi explicabo, numquam magnam sed maiores ipsum sequi esse deserunt praesentium dolores, exercitationem delectus veniam minus nam ipsam. Officia voluptatum impedit eaque rem obcaecati alias incidunt est a deleniti odit fugit, facere pariatur excepturi suscipit laborum dolores mollitia voluptates quia fuga veritatis, maiores quis atque vero illo. Maiores, corrupti ad.</p>

{{> footer}}
